/* body{
  color: #A8877E;
} */

h1{
  font-family: 'Akaya Telivigala', cursive;
  color: #505D94;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
  color: #323F45;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  color: #323F45;
}
